header{
  background-color: #2661bd;
  a{
    color: #fff;
  }
}

table{
  margin: 20px 0;
}

#btnNew{
  margin-top: 20px;
}

.modal-header {
  display: block;
  background-image: url(images/bg_tittulo_modal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80px;
  color: #fff;
  background-color: #2763bf;
  border-width: 0;
  button{
    span{
      color: #FFF;
    }
  }
}
.modal-body .dobra {
  padding: 60px;
}
.form-control{
  border-radius:0;
  border: 1px solid #d0d0d0;
}
/*---- Banner----- */
#trabalhe{

  .banner{
  	margin:0;
  	background-color:#2661bd;
  	background-image:url(images/bg_banner.png) , url(images/bg_body.jpg);
  	background-repeat:no-repeat, repeat-y;
  	background-position:bottom, top;
  	color:#fff;
  	min-height:566px;
    p{
      display:block;
      font-size: 1.3em;
    }
    h1{
      font-weight:bold;
      font-size: 3.4em;
      margin-top: 110px;
    }
  }
  .btn{
  	display:inline-block;
  	padding:15px 45px;
  	text-decoration:none;
  	color:#fff;
  	border: none;
  	font-weight:bold;
  	font-size:20px;
  	margin-top:10px;
  	cursor:pointer;
  }
  .dobra{
    text-align:center;
    padding: 60px 0px;
    h1{
      font-size: 3em;
      font-weight:300;
      color:#3b8edb;
    }
    ul.itens{
      padding: 20px 0;
      list-style:none;
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      h3 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 2em;
        color: #3b8edb;
      }
      p{
        margin-top:5px;
      }
      li{
        &:last-child{
          margin-right:0px;
        }
      }
    }
    .socios{
      padding: 30px 0;
        img {
            width: 210px;
        }

    }

  }
  .galeria{
  	background-image:url(images/bg_body.jpg);
  	background-repeat:repeat-y;
  	background-attachment:fixed;
  	padding-top:32px;
  	min-height:428px;
  	text-align:center;
  	margin-top:30px;
  }
}
/* botão azul */
.btn-blue{
	background-color:#3b8edb;
}
.btn-blue:hover{
	background-color:#57a0e3;
}

/* botão amarelo */
.btn-yellow{
	background-color:#e7aa07;
}
.btn-yellow:hover{
	background-color:#ffcc29;
}

/* botão vermelho*/
.btn-red{
	background-color:#f04e23;
}
.btn-red:hover{
	background-color:#ee623d;
}
