<template name="siteAbout">
  <div class="container dobra">
    <h1>Somos uma empresa <strong>Moderna,<br/>
    Audaciosa e Divertida</strong></h1>

    <p>Com idéias e ideais completamente diferenciados, surgimos no mercado de automação comercial para inovar.
    Nascemos da união de  especialistas em tecnologia da informação, automação comercial, marketing e gestão estratégica,
    unindo teorias e técnicas em prol do desenvolvimento de soluções para automação comercial, priorizando qualidade,
    agilidade e confiabilidade. A cada dia conquistamos uma pedaço do mundo com responsibalidade e diversão.</p>

    <ul class="itens">
    <li><img src="images/missao_icon.png"/>
    <h3>Nossa Missão</h3>
    <p>Melhorar a gestão e alavancar<br/>
    o resultadode vendas das<br/>
    empresas em geral.</p>
    </li>

    <li><img src="images/visao_icon.png"/>
    <h3>Nossa Visão</h3>
    <p>Ser reconhecidos a nivel mundial<br/>
    como uma das melhores empresas<br/>
    de gestão para comercial</p>
    </li>

    <li><img src="images/valor_icon.png"/>
    <h3>Nossos Valores</h3>
    <p>Sempre trabalhamos com ética,<br/>
    confiança, inovação, qualidade<br/>
    e muita transparência</p>
    </li>
    </ul>
    </div>
</template>
