<template name="siteBanner">
  <section class="banner">
  <div class="container">
    <h1>Trabalhe Conosco</h1>
    <p>Se você é dinâmico e gosta de novos desafios,<br/>
    venha fazer parte da nossa equipe na TagPlus.<br/>
    Estamos sempre selecionando os melhores<br/>
    profissionais para integrar nosso time.</p>
    <a name="new" id="btnNew" class="btn btn-yellow" data-toggle="modal" data-target="#candidateModal">Quero Fazer Parte!</a>
  </div>
</section>

      <!-- Modal -->
      <div class="modal fade" id="candidateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Cadastro de Curriculo</h4>
            </div>
            <div class="modal-body">
              {{> candidatesForm}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>


</template>
