<template name="mensagemCurriculoSuccess">
  <section class="mensagemSite">
    <!-- Modal -->
    <div class="modal fade" id="mensagemCandidateSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cadastro de Curriculo</h4>
          </div>
          <div class="modal-body text-center dobra">
            <h1>Os seus dados e currículo foram cadastrados <strong>com sucesso!</strong></h1>
            <p>
              Obrigado pelo interesse, agora com seus dados cadastrados vamos em breve iniciar o processo de seleção e entraremos em contato ;) !
            </p>
            <p>
              Boa sorte !
            </p>
            <button type="button" class="btn btn-success" data-dismiss="modal">Até já!</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
