<template name="sitePeoples">
  <div class="container dobra">
  <h1>Nossos diretores estão sempre <strong>unidos<br/>
  pela evolução da equipes</strong></h1>


  <div class="socios">
  <ul class="itens">
  <li><img src="images/gui.png"/>
  <h3>Guilherme Tavares</h3>
  <p>Presidente Corporativo</p>
  </li>

  <li><img src="images/alex.png"/>
  <h3>Alexandre Lopes</h3>
  <p>Director de Marketing</p>
  </li>

  <li><img src="images/bruno.png"/>
  <h3>Bruno Barbosa</h3>
  <p>Director Técnico</p>
  </li>
  </ul>

  <ul class="itens">
  <li><img src="images/renato.png"/>
  <h3>Renato Trindade</h3>
  <p>Diretor de Novas Plataformas</p>
  </li>

  <li><img src="images/dudu.png"/>
  <h3>Eduardo Luiz</h3>
  <p>Diretor de Relações Institucionais</p>
  </li>

  <li><img src="images/glucas.png"/>
  <h3>Guilherme Lucas</h3>
  <p>Diretor de Novos Produtos</p>
  </li>
  </ul>

  <ul class="itens">
  <li><img src="images/paulo.png"/>
  <h3>Paulo França</h3>
  <p>Diretor de Operações</p>
  </li>

  <li><img src="images/dulse.png"/>
  <h3>Dulcinéia Tavares</h3>
  <p>Diretora de Gestão de Pessoas</p>
  </li>

  <li><img src="images/marco.png"/>
  <h3>Marco Rocha</h3>
  <p>Diretor Financeiro</p>
  </li>
  </ul>
  </div>
  </div>
</template>
