<template name="candidatesForm">
  <div class="container-fluid">

    <form class="" enctype="multipart/form-data">
      <input type="hidden" name="_id" value="" id="_id">
    <div class="row">
      <div class="col-xs-12">

        {{#if currentUser }}
        <div class="col-xs-6">
          <div class="checkbox">
           <label>
             <input type="checkbox" name="active" id="active" aria-label="Ativo" checked> Ativo
           </label>
          </div>
        </div>
        {{/if}}

        {{#if currentUser }}
        <div class="col-xs-6">
          <div class="form-group">
             <label for="status">Status*</label>
             <select id="status" name="status" class="form-control">
               {{#each status}}
                  <option value="{{_id}}">{{name}}</option>
               {{/each}}
             </select>
           </div>
        </div>
        {{/if}}

        <div class="col-xs-6">
          <div class="form-group">
             <label for="nome">Nome*</label>
             <input type="name" class="form-control" id="name" placeholder="Nome" required>
           </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
             <label for="email">E-mail*</label>
             <input type="email" class="form-control" id="email" placeholder="Email" required>
           </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
             <label for="telefone">Telefone*</label>
             <input type="phone" class="form-control" id="phone" placeholder="Informe o melhor telefone para contato" required>
           </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
             <label for="vaga">Vagas*</label>
             <select name="job" id="job" class="form-control" required>
               {{#each jobs}}
                  <option value="{{_id}}">{{name}}</option>
               {{/each}}
             </select>
           </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
             <label for="exampleInputEmail1">Facebook</label>
             <input type="url" name="urlFacebook" class="form-control" id="urlFacebook" placeholder="URL do Facebook">
           </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
             <label for="exampleInputEmail1">Linkedin</label>
             <input type="url" name="urlLinkedin" class="form-control" id="urlLinkedin" placeholder="URL do Linkedin">
           </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group">
            <label for="exampleInputFile">Curriculo* <span id="urlCurriculo" class="glyphicon glyphicon-link" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Clique para acessar."></span></label>
            <input type="file" class="uploadFile" id="uploadFile">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="exampleInputFile">Sobre</label>
            <textarea class="form-control" rows="4"></textarea>
            <p class="help-block text-right">Campos marcados com <strong>*</strong> são obrigatórios.</p>
          </div>
        </div>

          {{> flashMessages}}
          <div class="col-xs-12">
            <div class="form-group">
              <button name="new" class="btn btn-success">Salvar</button>
            </div>
          </div>

      </div>
    </div>
  </form>
  </div>
</template>
