<template name="statusList">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-hover table-responsive table-condensed table-bordered">
        <thead>
          <th>
            <td>Ativo</td>
          </th>
            <th>
              <td>Nome</td>
            </th>
              <th>
                <td>Ações</td>
              </th>
        </thead>
        <tbody>
          {{#each status}}
          <tr>
              {{#if active}}
                <td class="success text-center" width="5%">
                  <span>Sim</span>
                </td>
              {{else}}
                <td class="danger" width="5%">
                  <span>Não</span>
                </td>
              {{/if}}
            <td>{{name}}</td>
            <td class="text-center" width="12%">
              <button name="button" class="btn btn-info edit">Editar</button>
              <button name="button" class="btn btn-danger delete">Deletar</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
