<template name="header">

	<header>
		<div class="container">
			<nav class="navbar" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="https://www.tagplus.com.br/">
							<img src="/images/tagplus_logo.png"/>
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
			        <li><a href="{{pathFor 'jobsContainer'}}">Vagas</a></li>
							<li><a href="{{pathFor 'candidatesContainer'}}">Candidatos</a></li>
							<li><a href="{{pathFor 'statusContainer'}}">Status</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
</template>
